@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: rgb(255,255,255);
  background: linear-gradient(145deg, rgba(255,255,255,1) 35%, rgba(254,255,202,1) 100%);  */
  background-color: hsla(0, 0%, 100%, 1);
  background-image:
    radial-gradient(at 59% 34%, hsla(21, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 0%, hsla(191, 100%, 82%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 64%, hsla(60, 98%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 70%, hsla(168, 100%, 83%, 1) 0px, transparent 50%);
}

html {
  height: 100vh;
}